<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic:: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1 class="mt-4">메뉴 구매하기</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="../assets/kimbab_default.jpg" class="card-img-top" alt="..." width="10">
                    <div class="card-body">
                        <h5 class="card-title">메뉴명</h5>
                        <p class="card-text">메뉴 설명</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">메뉴 가격</small>
                    </div>
                </div>
            </div>

        </div>
    </th:block>
</th:block>