<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic:: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1 class="mt-4">메뉴 구매하기</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div th:each="dto : ${result}" class="col">
                <div class="card h-100">
                    <img th:if = "${(dto.img == null || dto.img == '') && dto.soldout==1}" src="../assets/soldout.jpg" class="card-img-top" alt="${dto.title}">
                    <img th:if = "${dto.img != null && dto.img != ''}" src="../assets/kimbab_default.jpg" class="card-img-top" alt="${dto.title}">
                    <img th:if = "${(dto.img == null || dto.img == '') && dto.cate=='food'&& dto.soldout==0}" src="../assets/kimbab_default.jpg" class="card-img-top" alt="${dto.cate}">
                    <img th:if = "${(dto.img == null || dto.img == '') && dto.cate=='drink'&& dto.soldout==0}" src="../assets/drink_default.jpg" class="card-img-top" alt="${dto.cate}">
                    <div class="card-body">
                        <h5 class="card-title">[[${dto.title}]]</h5>
                        <p class="card-text">[[${dto.content}]]</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">[[${dto.price}]]</small>
                    </div>
                </div>
            </div>

        </div>
    </th:block>
</th:block>