<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic:: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <h1>kimbab Menu</h1>

    <span>
      <a th:href="@{/kimbab/register}">
      <button type="button" class="btn btn-outline-primary">메뉴 등록</button>
      </a>
    </span>
    <div th:if = "${msg != null}" th:text="${msg}"> </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Menu Id</th>
        <th scope="col">이미지</th>
        <th scope="col">카테고리</th>
        <th scope="col">메뉴명</th>
        <th scope="col">가격</th>
        <th scope="col">Sold Out</th>
        <th scope="col">등록일</th>
        <th scope="col">수정일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dto : ${result}" >
        <th scope="row">[[${dto.mid}]]</th>
        <td th:if = "${dto.img != null && dto.img != ''}"><img src="${dto.img}" width="20" height="20"> </td>
        <td th:if = "${(dto.img == null || dto.img == '') && dto.cate=='food'}"><img src="../assets/kimbab_default.jpg" width="20" height="20"> </td>
        <td th:if = "${(dto.img == null || dto.img == '') && dto.cate=='drink'}"><img src="../assets/drink_default.jpg" width="20" height="20"> </td>
        <td>[[${dto.cate}]]</td>
        <td> <a th:href="@{/kimbab/read(mid = ${dto.mid})}">[[${dto.title}]] </a></td>
        <td>[[${dto.price}]]</td>
        <td th:if = "${dto.soldout == 1}">Y</td>
        <td th:if = "${dto.soldout == 0}">N</td>
        <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
        <td>[[${#temporals.format(dto.modDate, 'yyyy/MM/dd')}]]</td>
      </tr>
      </tbody>
    </table>

  </th:block>
</th:block>