<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic:: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <h1 class="mt-4">메뉴 등록</h1>
    <form name="frm" th:action="@{/kimbab/register}" th:method="post">
      <div class="form-group">
        <label >카테고리</label>
        <input type="text" class="form-control" name="cate" maxlength="10" placeholder="카테고리 입력">
      </div>
      <div class="form-group">
        <label >메뉴명</label>
        <input type="text" class="form-control" name="title" maxlength="20" placeholder="메뉴명 입력">
      </div>
      <div class="form-group">
        <label >가격</label>
        <input type="text" class="form-control" name="price" maxlength="10" placeholder="가격 입력">
      </div>
      <div class="form-group">
        <label >매진 여부</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="soldout" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">Y</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="soldout" id="inlineRadio2" value="0" checked>
          <label class="form-check-label" for="inlineRadio2">N</label>
        </div>
      </div>
      <div class="form-group">
        <label >태그</label>
        <input type="text" class="form-control" name="tag" maxlength="10" placeholder="예) BEST / NEW">
      </div>
      <div class="form-group">
        <label >설명</label>
        <textarea class="form-control" rows="5" name="content"></textarea>
      </div>
      <div class="form-group">
        <label >이미지 URL</label>
        <textarea class="form-control" rows="5" name="img"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">등록</button>
    </form>
  </th:block>
</th:block>
